
<!DOCTYPE HTML>
<html>
<head>
  <meta charset ="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <h1>
  Parks and Rec Quiz 2.0
  </h1>
</head>
<body>

    <p>Hello <%=name%>!</p>

    <p>welcome to the Parks and Recs quiz 2.0</p>
<div >
</div>

<div>
  <form name= "form" action="resultsOfQuiz" method="post">
        <p id="input1">
          what state is Pawnee in?
          <input type="text" name="question1" placeholder="enter answer here in lowercase" />
           </p>
           <p id="input2">
          What was Andy Dwyer's fbi name?
          <input type="text" name="question2" placeholder="enter answer here in lowercase"/>
           </p>
           <p id="input3">
          What is Ron Swainston's stage name playing saxophone?
          <input type="text" name="question3" placeholder="enter answer here in lowercase" />
           </p>
           <p id="input4">
          what is the name of the beloved horse that dies in Pawnee?
          <input type="text" name="question4" placeholder="enter answer here in lowercase" />
           </p>
             <p id="input5">
          what is the name of Andy Dwyer's band(usually)?
          <input type="text" name="question5" placeholder="enter answer here in lowercase" />
           </p>

          <div id="button1">
   <button id="submit">submit quiz</button>

</div>


</body>
</html>
